

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');

*{
  box-sizing: border-box;
  font-size: 1rem;
  font-family: 'Open Sans', sans-serif;

}
header{
  
  position:fixed;
  z-index: 1100;
  width: 100%;
 top: 0px;
}
.head {
padding:1rem 5rem ;

  display: flex;
  justify-content: space-between;
}
.header{
 
 align-content: space-around;
  display: flex;
justify-content: space-between;
 align-items: baseline;
}
.fa-bars{
  display: none;
 }
 :root{
  --main-color:#f7f77b;
  --black: rgb(172, 172, 172);
  --bg: rgb(235, 235, 235);
  --border:.1rem solid #c4c4c4;
}
html{
  font-size: 89.5%;
}
*{
  font-family: 'roboto',sans-serif;
  

  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
 
}

.section h1{
  border-bottom: #000 2px solid;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  text-shadow: 2px 2px 8px rgb(46, 46, 46);
  width: 50%;
  margin: auto;
}

.menu {
  width: 10%; /* Điều chỉnh theo nhu cầu thiết kế của bạn */
}

.menu .navbar ul>li {
  transition: 0.3s;
  margin-top: 5px;

  border-radius: 5px;
  position: absolute;
  background-color: #b4b4b4;

  flex-direction: column;
  width: fit-content;
  padding-bottom: 5px;
}
.submenu {
  position:absolute;
opacity: 0;
display: none;
margin-top: -52px;
}

.navbar ul:hover .submenu{

  opacity: 1;
  display: flex;
}
.menu .navbar ul>li a {
  padding: 5px;
  text-decoration: none;
  color: #000;
  text-align: left;
  transition: 0.2s;
  border-bottom: 1px solid black;
}

.menu .navbar ul {
  color: #fafafa;
  text-decoration: none;
  margin: 0.1rem 0.5rem;
  transition: 0.3s linear;
 
}

.menu .navbar ul .vinh1 {
  padding: 1.25rem 0rem;
  text-align: center;
  color: #fafafa;
  text-decoration: none;
  transition: 0.3s linear;
 
}


.menu .navbar ul li a:hover {
  text-decoration: none;
  color: #d4d4d4;
  transition: 0.2s;
  background-color: #4e4e4e;
}

.menu .navbar ul .vinh1:hover {
  color: var(--main-color);
  border-bottom: 0.1rem solid var(--main-color);
  padding-bottom: 0.1rem;
}

/* .menu .navbar ul .vinh1:hover li{
 
 
  opacity: 1;
} */






 .iconhd a {
  color: #050505;
  transition: 0.5s;
}
.iconhd a:hover {
  color:var(--main-color);
}
/*  */
body{
  background-color:var(--bg);
}
.containerslide{
 position: absolute;
position: relative;
 padding: 12.5rem 0;
 padding-bottom: 0;
  width: 100%;
height: 100%;
 
}
.containerslide img {
  vertical-align: middle;
transition: 0.5s;
height: 280px;
margin: 0;

}

/* Position the image container (needed to position the left and right arrows) */

/* Hide the images by default */
.mySlides {
  display: none;
  height: 10%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous s */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 80%;
  width: auto;
  padding: 16px;
  margin-top: -80px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #fdfdfd;
  padding: 0px 16px;
  color: white;
  display: none;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  display: none;
  width: 10.66%;
  
}
.column img{
  border-radius:  40%;
  box-shadow: 2px 1px 8px #181818;
}
/* Add a transparency effect for thumnbail images */
.active,.demo {
  opacity: 0.6;
}
.header .vinhz{
  display: none;
}
.active,
.demo:hover {
  opacity: 1;
}
@media screen and (max-width: 988px) {
  .containerslide {
    width: 100%;
    margin-top: -40px;
  }
  .menu ,.iconhd{
    display: none   ;
  }
  .header{
    padding: 20px 0;
    text-align: center;
   
  }
  .header img{
   height: 80px;
   
   margin-right: -30px;
  }
  .header .vinhz{
    display: block;
   padding-top: 20px;
left: -8px;
  }
  
  .mySlides {
    display: block;
  }
  
  /* Điều chỉnh kích thước và vị trí của nút prev và next cho thiết bị nhỏ hơn */
}
/* Đảm bảo trang web có thể co giãn và phản ánh trên các thiết bị khác nhau */
@media screen and (max-width: 768px) {
  .containerslide {
    width: 100%;
    margin-top: -40px;
  }
  .menu ,.iconhd{
    display: none   ;
  }
  .header{
    padding: 20px 0;
    text-align: center;
   
  }
  .header img{
   height: 80px;
   
   margin-right: -30px;
  }
  .header .vinhz{
    display: block;
   padding-top: 20px;
left: -8px;
  }
  
  .mySlides {
    display: block;
  }
  
  /* Điều chỉnh kích thước và vị trí của nút prev và next cho thiết bị nhỏ hơn */
}

/* Điều chỉnh kích thước và độ rộng của các hình ảnh thumbnail cho thiết bị nhỏ hơn */
@media screen and (max-width: 480px) {
  .column {
    width: 33.33%;
  }
  .prev,
.next {
  width: 20px;
  padding: 5px;
}
}

/* Điều chỉnh font-size cho caption text cho thiết bị nhỏ hơn */
@media screen and (max-width: 390px) {
  .numbertext {
    font-size: 10px;
    padding: 4px 8px;
  }
  
  .caption-container {
    padding: 1px 8px;
  }
}
/* sp */

 .row{
 display: flex;
 justify-content:space-between;
padding: 5px;
margin: auto;
}   
.boxc {
  width: 50%;
  margin: 5px;

  background-image: linear-gradient(to top,  #ECECF2,#fcfcfc);
  min-height: 200px;
  border-radius:10px ;
 padding: 0;
 box-shadow: 2px 1px 12px  #AEC0CE;
  text-align: center;
  
  transition: 0.5s;

  align-items: center;
 
}

.boxc .img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px; /* Đặt chiều cao tùy ý */
  overflow: hidden; /* Tránh tràn nếu ảnh lớn hơn box */

}
.boxc .img img{
  filter: drop-shadow(0px 0px 8px rgb(129, 129, 129));

  object-fit: contain;
  width: 100%;
  height: 100%;
}






.boxc:hover  {
  background-color: rgba(128, 128, 128, 0.5);
  opacity: 1;
  z-index: 1;
}
.H2Sp{ 
 
  margin-top: 5rem;
  background-image: linear-gradient(to top, #dfdfdf, #ece6e6);
 width: fit-content;
 padding: 1rem 3rem;
 border-top-right-radius: 30px ;
 color: #3f3f3f;
  text-shadow: 1px 2px  8px rgb(100, 100, 100);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}
.vinh{
  padding: 0;
  padding-bottom: 0;
  width:100%;
  border-bottom: .1px double black;
}
.tensp{
  font-size: 16px ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



}
.mota{
padding:5px;

}
.mota button{
  background-color: #c4c4c4;
  border: 1px solid rgb(167, 167, 167);
  margin-bottom: 5px;
 border-radius: 5px;
 padding: 5px;
 box-shadow: 1px 1px 8px black;
 transition: 0.5s;
}
.mota button:hover{
  color: #b60b0b;
  background-color: #b4b4b4;

}
.mota a{
  word-wrap: break-word;
  overflow: hidden;    /* Ẩn phần vượt quá kích thước */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Số dòng tối đa trước khi hiển thị dấu "..." */
  -webkit-box-orient: vertical;
  padding:0 3px;
  text-decoration: none;
  margin: 0;
  font-size: 17px;
transition: 0.3s;
  font-family: 'Times New Roman', Times, serif;
  color: #030303;
  
}
.mota a:hover{
  text-decoration:underline;
  color: #cc3d04;
}
.mota p{
  color: #e70b0b;
font-size: 22px;
  padding: 3px 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
@media only screen and (max-width: 786px) {
  
  .iconhd{
    display: none;
  }
}
.iconhd{
 margin-left: 20px;}
/*  */
.direction{
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: space-between;
 
}
.direction button{
  font-family: cursive;
  font-weight: bold;
  background-color: #33333344;
  border:none;
  width:50px;
  height:50px;
  margin-top: 200px;
  border-radius: 50%;
  transition: 0.5s;
  
}

.direction button:hover{
  background-color: #686868;
  
}
.direction #next{
  margin-left: 1100px;
}
.direction #prev{
  margin-left: -40px;
}
.item {
  border-radius: 15px;
  width: 265px; /* Điều chỉnh kích thước chiều rộng của mỗi item */
  height: 400px; /* Điều chỉnh kích thước chiều cao của mỗi item */
  background-image: linear-gradient(to top, #b8ecd2, #ECECF2);
  overflow: hidden;
  transition: 0.5s;
  margin: 10px; /* Khoảng cách giữa các item */
  scroll-snap-align: start;
}

.item .avatar {
  display: block;
  margin: 30px auto 10px; /* Điều chỉnh khoảng cách của avatar từ trên xuống */
  width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 10px 15px #7e878d;
}

.item .content {
  padding: 20px; /* Điều chỉnh khoảng cách bên trong nội dung của mỗi item */
  font-family: monospace;
}


.item .content table td{
  padding:10px 0;
  border-bottom: 1px solid #AEC0CE;
}


/*  */
#demo.show {
  display: flex;
  flex-direction: column;
  background-color: #333; /* Màu nền của collapsible khi được mở */
  position: absolute;
  top: 60px; /* Chiều cao của header */
  width: 100%;
  z-index: 1000;
}

#demo.show li {
  text-align: center;
  padding: 1rem 0rem;
}


.boxc {
  flex: 0 0 calc(60% - 30px); /* 4 sản phẩm trên 1 hàng */
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* footer */


footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  margin-top: 50px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  width: 30%;
  margin-bottom: 20px;
}

.footer-section h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.footer-section p {
  font-size: 0.9em;
}

/* Add additional styling or media queries as needed */
#map_container{
  position: relative;
  margin-top: -1000px;
}
#map{
    height: 0;
    overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 30px;
    position: relative;
}
/* san pham*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8%;
}
nav .logo{
    font-size: 32px;
    font-weight: 500;
    cursor: pointer;
}

nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li .nav-link{
    display: block;
    
    color: #000;
    font-weight: 500;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}
nav ul li .nav-link::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000;
    width: 0;
    height: 2.5px;
    transition: all 0.3s ease;
}
nav ul li .nav-link:hover::before{
    width: 100%;
}

nav ul i{
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.flex-box{
    display: flex;
    width: 1000px;
 
    margin:180px  auto 0 ;
}
.left{
    width: 40%;
}
.big-img{
    width: 250px;
}
.big-img img{
    width: inherit;
}
.images{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 15px;
}
.small-img{
    width: 50px;
    overflow: hidden;
    border: 1.5px solid black;
}
.small-img img{
    width: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
}
.small-img:hover img{
    transform: scale(1.2);
}
.url{
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 102, 255);
}
.pname{
    font-size: 22px;
    font-weight: 600;
    margin-top: 50px;
}
.ratings i{
    color: rgb(255, 136, 0);
}
.price{
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
}
.size{
    display: flex;
    align-items: center;
    margin: 20px 0;
    
}
.size p{
    font-size: 18px;
    font-weight: 500;
}
.psize{
    width: 60px;
    height: 30px;
    border: 1px solid #ff5e00;
    color: #000;
    text-align: center;
    margin: 0 20px;
    cursor: pointer;
    padding-top: 5px;
}
.psize.active{
    border-width: 1.5px;
    color: #ff5e00;
    font-weight: 500;
}


.card-text {
  font-size: 18px;
  color: #007bff;
  font-weight: bold;
}
.product-img {
  height: 200px; /* Adjust the height as needed */
  object-fit: cover;
}
#slides {-webkit-font-smoothing: antialiased;
font: normal 11px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #232525;
padding-top:180px;
z-index: 800;
}

#slides {
display: none

}

#slides .slidesjs-navigation {
margin-top:3px;

}

#slides .slidesjs-previous {
margin-right: 5px;
float: left;
}

#slides .slidesjs-next {
margin-right: 5px;
float: left;
}

.slidesjs-pagination {
margin: 6px 0 0;
float: right;
list-style: none;
}

.slidesjs-pagination li {
float: left;
margin: 0 1px;
}

.slidesjs-pagination li a {
display: block;
width: 13px;
height: 0;
padding-top: 13px;
background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/139719/pagination.png");
background-position: 0 0;
float: left;
overflow: visible;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
background-position: 0 -13px;
}

.slidesjs-pagination li a:hover {
background-position: 0 -26px;
}

#slides a:link,
#slides a:visited {
color: #333;
}

#slides a:hover,
#slides a:active {
color: #9e2020;
}

