

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap');

* {
    box-sizing: border-box;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif; /* Thay đổi thành 'Poppins' */
}


.head {
padding:1rem 5rem ;

  display: flex;
  justify-content: space-between;
}
.header{
 
 align-content: space-around;
  display: flex;
justify-content: space-between;
 align-items: baseline;
}
.fa-bars{
  display: none;
 }i
 :root{
  --main-color:#919191;
  --black: rgb(172, 172, 172);
  --bg: rgb(214, 214, 214);
  --border:.1rem solid #c4c4c4;
}
html{
  font-size: 90.5%;
  
}

*{
  font-family: 'roboto',sans-serif;
  

  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
 
}

.section h1{
  border-bottom: #000 2px solid;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  text-shadow: 2px 2px 8px rgb(46, 46, 46);
  width: 50%;
  margin: auto;
}

header{
  
  position:absolute;
  z-index: 1100;
  width: 100%;
 top: 0px;
}

.navdrop {
  
 margin-top: 160px;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgb(238, 188, 118);
  z-index: 1000;
  box-shadow: 0px 2px 5px rgba(243, 217, 217, 0.1);
}




 .iconhd a {
  color: rgb(180, 108, 49);
  transition: 0.5s ease-in-out;
 
}
.iconhd a:hover {
  color:var(--main-color);

}
/*  */
body{
  background-color:var(--bg);
  margin-top:200px;
}
.containerslide{
 position: absolute;
position: relative;
 padding: 12.5rem 0;
 padding-bottom: 0;
  width: 100%;
height: 100%;
 
}
.containerslide img {
  vertical-align: middle;
transition: 0.5s;
height: 280px;
margin: 0;

}

/* Position the image container (needed to position the left and right arrows) */

/* Hide the images by default */
.mySlides {
  display: none;
  height: 10%;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous s */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 80%;
  width: auto;
  padding: 16px;
  margin-top: -80px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0px;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #fdfdfd;
  padding: 0px 16px;
  color: white;
  display: none;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  display: none;
  width: 10.66%;
  
}
.column img{
  border-radius:  40%;
  box-shadow: 2px 1px 8px #181818;
}
/* Add a transparency effect for thumnbail images */
.active,.demo {
  opacity: 0.6;
}
.header .vinhz{
  display: none;
}
.active,
.demo:hover {
  opacity: 1;
}
@media screen and (max-width: 988px) {
  .containerslide {
    width: 100%;
    margin-top: -40px;
  }
  .menu ,.iconhd{
    display: none   ;
  }
  .header{
    padding: 20px 0;
    text-align: center;
   
  }
  .header img{
   height: 80px;
   
   margin-right: -30px;
  }
  .header .vinhz{
    display: block;
   padding-top: 20px;
left: -8px;
  }
  
  .mySlides {
    display: block;
  }
  
  /* Điều chỉnh kích thước và vị trí của nút prev và next cho thiết bị nhỏ hơn */
}
/* Đảm bảo trang web có thể co giãn và phản ánh trên các thiết bị khác nhau */
@media screen and (max-width: 768px) {
  .containerslide {
    width: 100%;
    margin-top: -40px;
  }
  .menu ,.iconhd{
    display: none   ;
  }
  .header{
    padding: 20px 0;
    text-align: center;
   
  }
  .header img{
   height: 80px;
   
   margin-right: -30px;
  }
  .header .vinhz{
    display: block;
   padding-top: 20px;
left: -8px;
  }
  
  .mySlides {
    display: block;
  }
  
  /* Điều chỉnh kích thước và vị trí của nút prev và next cho thiết bị nhỏ hơn */
}

/* Điều chỉnh kích thước và độ rộng của các hình ảnh thumbnail cho thiết bị nhỏ hơn */
@media screen and (max-width: 480px) {
  .column {
    width: 33.33%;
  }
  .prev,
.next {
  width: 20px;
  padding: 5px;
}
}

/* Điều chỉnh font-size cho caption text cho thiết bị nhỏ hơn */
@media screen and (max-width: 390px) {
  .numbertext {
    font-size: 10px;
    padding: 4px 8px;
  }
  
  .caption-container {
    padding: 1px 8px;
  }
}
/* sp */

 .row{
 display: flex;
 justify-content:space-between;
padding: 5px;
margin: auto;
}   
.boxc {
  width: 50%;
  margin: 5px;

  background-image: linear-gradient(to top,  #ECECF2,#fcfcfc);
  min-height: 200px;
  border-radius:10px ;
 padding: 0;
 box-shadow: 2px 1px 12px  #f5f5f5;
  text-align: center;
  
  transition: 0.5s;

  align-items: center;
 
}

.boxc .img{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px; /* Đặt chiều cao tùy ý */
  overflow: hidden; /* Tránh tràn nếu ảnh lớn hơn box */

}
.boxc .img img{
  filter: drop-shadow(0px 0px 8px rgb(129, 129, 129));

  object-fit: contain;
  width: 100%;
  height: 100%;
}






.boxc:hover  {
  background-color: rgba(128, 128, 128, 0.5);
  opacity: 1;
  z-index: 1;
}
.H2Sp{ 
 
  margin-top: 5rem;
  background-image: linear-gradient(to top, rgb(230, 176, 97), rgb(255, 240, 240));
 width: fit-content;
 padding: 1rem 3rem;
 border-top-right-radius: 30px ;
 color: #ce540e;
  text-shadow: 1px 2px  8px rgb(255, 255, 255);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}
.vinh{
 
  padding: 0;
  padding-bottom: 0;
  width:100%;
  border-bottom: 3px solid  #f0a87f;
}
.tensp{
  font-size: 16px ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



}
.quantity-input {
  display: flex;
  align-items: center;
  max-width: 150px;
}

.quantity-btn {
 
  color: rgb(14, 13, 13);
  border: none;
  padding:10px;
  font-size: 16px;
  cursor: pointer;
}

#quantity {
  width: 40px;
  text-align: center;
  font-size: 12px;
  margin:  5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
}

.flex-wrap button,.flex-wrap input {
  
  background-color: #d36e2a;
  color: #ffffff;
font-size: 1.1em;
transition: 0.5s;
}
.flex-wrap input:hover{
  
  background-color: rgb(243, 162, 132);

}
.flex-wrap button:hover{
  
  background-color: rgb(243, 162, 132);

}
.flex-wrap button a{

  color: #ffffff;
}.flex-wrap button a:hover{

  color: #f1f1f1;
}
.card-title{
  color: #000;
  text-decoration: none;
}
.card-title:hover{
  color: rgb(199, 136, 53);
  text-decoration: none;
}
.mota{
padding:5px;

}
.mota button{
  background-color: #c4c4c4;
  border: 1px solid rgb(167, 167, 167);
  margin-bottom: 5px;
 border-radius: 5px;
 padding: 5px;
 box-shadow: 1px 1px 8px black;
 transition: 0.5s;
}
.mota button:hover{
  color: #b60b0b;
  background-color: #b4b4b4;

}
.mota a{
  word-wrap: break-word;
  overflow: hidden;    /* Ẩn phần vượt quá kích thước */
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Số dòng tối đa trước khi hiển thị dấu "..." */
  -webkit-box-orient: vertical;
  padding:0 3px;
  text-decoration: none;
  margin: 0;
  font-size: 17px;
transition: 0.3s;
  font-family: 'Times New Roman', Times, serif;
  color: #030303;
  
}
.mota a:hover{
  text-decoration:underline;
  color: #cc3d04;
}
.mota p{
  color: #e70b0b;
font-size: 22px;
  padding: 3px 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}
@media only screen and (max-width: 786px) {
  
  .iconhd{
    display: none;
  }
}
.iconhd{
 margin-left: 20px;}
/*  */
.direction{
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: space-between;
 
}
.direction button{
  font-family: cursive;
  font-weight: bold;
  background-color: #8b8b8b44;
  border:none;
  width:50px;
  height:50px;
  margin-top: 200px;
  border-radius: 50%;
  transition: 0.5s;
  
}

.direction button:hover{
  background-color: #686868;
  
}
.direction #next{
  margin-left: 1100px;
}
.direction #prev{
  margin-left: -40px;
}
.item {
  border-radius: 15px;
  width: 265px; /* Điều chỉnh kích thước chiều rộng của mỗi item */
  height: 400px; /* Điều chỉnh kích thước chiều cao của mỗi item */
  background-image: linear-gradient(to top, #e6e9c7, #ECECF2);
  overflow: hidden;
  transition: 0.5s;
  margin: 10px; /* Khoảng cách giữa các item */
  scroll-snap-align: start;
}

.item .avatar {
  display: block;
  margin: 30px auto 10px; /* Điều chỉnh khoảng cách của avatar từ trên xuống */
  width: 100px;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 10px 15px #dcdfe0;
}

.item .content {
  padding: 20px; /* Điều chỉnh khoảng cách bên trong nội dung của mỗi item */
  font-family: monospace;
}


.item .content table td{
  padding:10px 0;
  border-bottom: 1px solid #AEC0CE;
}


/*  */
#demo.show {
  display: flex;
  flex-direction: column;
  background-color: #333; /* Màu nền của collapsible khi được mở */
  position: absolute;
  top: 60px; /* Chiều cao của header */
  width: 100%;
  z-index: 1000;
}

#demo.show li {
  text-align: center;
  padding: 1rem 0rem;
}


.boxc {
  flex: 0 0 calc(60% - 30px); /* 4 sản phẩm trên 1 hàng */
  margin-bottom: 20px;
  box-sizing: border-box;
}

/* footer */
.shop{
  display: inline-flex;
 justify-content: space-between;
 width: 100%;
 padding: 1rem;
}
.shop input[type="submit"]{
  font-size: 20px;
background-color: #d36e2a;
text-align: center;
transition: 0.3s;
padding: 10px 30px;
color: #020202;
border-radius: 5px;

}
.shop input[type="submit"]:hover{
  
  background-color: #c57a48;
  text-align: center;
  
  padding: 10px 30px;
  color: rgb(0, 0, 0);
  
  }
.shop1 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80vw; /* Giảm kích thước của .shop1 */
  margin: 0 auto; /* Để căn giữa theo chiều ngang */
  height: 80vh; /* Điều này giúp căn giữa theo chiều cao của màn hình */
}

.shop1 .img {
  margin: 0 5px; /* Tăng khoảng cách giữa các ảnh nếu cần */
  overflow: hidden; /* Đảm bảo ảnh không vượt quá khung khi to lên */
  width: 100%; /* Ảnh chiếm toàn bộ chiều rộng của .img */
  height: auto; /* Đảm bảo tỷ lệ khung hình không bị méo */
  border-radius: 5px;

  box-shadow: 1px 1px 5px rgb(247, 193, 162);
}

.shop1 .img:hover img {
  transform: scale(1.1); /* Thay đổi tỷ lệ khung hình khi hover */
  transition: transform 0.5s ease-in-out; /* Hiệu ứng transition */
}

.shop1 img {
  max-width: 100%;
  height: auto;
}




.shop h1{
text-align: center;
width: 60%;
padding: 0;
color: #ce540e;
}
b{
  border: #f5a577 2px solid ;
  text-align: center;
  width: 100%; 
  display: flex;
 margin-top: 20px;
  height: 0.1px;
  
}
footer {

  background-color: rgb(247, 184, 96);
  color: #f8f8f8;
width: 100%;
  margin-top: 50px;
  
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  width: 30%;
  margin-bottom: 20px;
}

.footer-section h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #000000;
  width: max-content;
}

.footer-section p {
  font-size: 1.2em;
  margin-top:1px ;
  color: #000000;
}
.footer-section a {
  font-size: 1.2em;
  margin-top:1px ;
  color: #000000;
  text-decoration: none;
}

/* Add additional styling or media queries as needed */
#map_container{
  position: relative;
  margin-top: -1000px;
}
#map{
height: 200px;
    
    overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 30px;
    position: relative;
}
.item{
  border-radius: 15px;
  width:265px;
  height:450px;
  background-image: linear-gradient(to top, rgb(238, 238, 208), #f5f5f5);
  overflow: hidden;
  transition: 0.5s;
  margin:10px;
  scroll-snap-align: start;
  padding: 0;
}
.item .avatar{
  display: block;
  margin:50px auto 10px;
  width:100px;
  height:150px;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 10px 15px #7e878d;
}
.item .content{
  padding:30px;
  font-family: monospace;
}
.item .content table td{
  padding:10px 0;
  border-bottom: 1px solid #AEC0CE;
}
.item .content table td:nth-child(2){
  text-align: right;
}
.item .nameGroup{
  text-align: center;
  border-bottom:none!important;
}
#list{
  display: flex;
  width:max-content;
}
#formList{
  width:1280px;
  max-width: 100%;
  overflow: auto;
  margin:0px auto 0px;
  scroll-behavior: smooth;
  scroll-snap-type: both;
}
.direction #next{
  margin-left: 1100px;
}
.direction #prev{
  margin-left: -40px;
}
#formList::-webkit-scrollbar{
  display: none;
}
@media screen and (max-width: 1024px){
  .item{
      width: calc(33.3vw - 20px);
  }
  .direction{
      display: none;
  }
}
@media screen and (max-width: 768px){
  .item{
      width: calc(50vw - 20px);
  }
  .direction{
      display: none;
  }
}
/* san pham*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 8%;
}
nav .logo{
    font-size: 32px;
    font-weight: 500;
    cursor: pointer;
}

nav ul li{
    list-style: none;
    display: inline-block;
}
nav ul li .nav-link{
    display: block;
    
    color: #000;
    font-weight: 500;
    text-decoration: none;
    font-size: 17px;
    position: relative;
}
nav ul li .nav-link::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #000;
    width: 0;
    height: 2.5px;
    transition: all 0.3s ease;
}
nav ul li .nav-link:hover::before{
    width: 100%;
}

nav ul i{
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
.flex-box{
    display: flex;
    width: 1000px;
 
    margin:70px  auto 0 ;
}
.left{
    width: 40%;
}
.big-img{
    width: 250px;
}
.big-img img{
    width: inherit;
}
.images{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 15px;
}
.small-img{
    width: 50px;
    overflow: hidden;
    border: 1.5px solid black;
}
.small-img img{
    width: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
}
.small-img:hover img{
    transform: scale(1.2);
}
.url{
    font-size: 16px;
    font-weight: 400;
    color: rgb(0, 102, 255);
}
.pname{
    font-size: 22px;
    font-weight: 600;
    margin-top: 50px;
}
.ratings i{
    color: rgb(255, 136, 0);
}
.price{
    font-size: 20px;
    font-weight: 500;
    margin: 20px 0;
}
.size{
    display: flex;
    align-items: center;
    margin: 20px 0;
    
}
.size p{
    font-size: 18px;
    font-weight: 500;
}
.psize{
    width: 60px;
    height: 30px;
    border: 1px solid #ff5e00;
    color: #000;
    text-align: center;
    margin: 0 20px;
    cursor: pointer;
    padding-top: 5px;
}
.psize.active{
    border-width: 1.5px;
    color: #ff5e00;
    font-weight: 500;
}


.card-text {
  font-size: 18px;
  color: #007bff;
  font-weight: bold;
}
.product-img {
  height: 200px; /* Adjust the height as needed */
  object-fit: cover;
}
#slides {-webkit-font-smoothing: antialiased;
font: normal 11px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
color: #232525;
padding-top:180px;
z-index: 800;
}

#slides {
display: none

}

#slides .slidesjs-navigation {
margin-top:3px;

}

#slides .slidesjs-previous {
margin-right: 5px;
float: left;
}

#slides .slidesjs-next {
margin-right: 5px;
float: left;
}

.slidesjs-pagination {
margin: 6px 0 0;
float: right;
list-style: none;
}

.slidesjs-pagination li {
float: left;
margin: 0 1px;
}

.slidesjs-pagination li a {
display: block;
width: 13px;
height: 0;
padding-top: 13px;
background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/139719/pagination.png");
background-position: 0 0;
float: left;
overflow: visible;
}

.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
background-position: 0 -13px;
}

.slidesjs-pagination li a:hover {
background-position: 0 -26px;
}

#slides a:link,
#slides a:visited {
color: #333;
}

#slides a:hover,
#slides a:active {
color: #9e2020;
}

.banner1 img{
  margin-top: 50px;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  border: 1px solid rgb(225, 226, 175);
  box-shadow: 1px 1px 8px  black;
}


.tieude{
  display: flex;
  justify-content: space-between;
padding: 1em 5em 0em;
color: #f8f8f8;
   background-color: rgb(180, 108, 49);
font-family: 'Courier New', Courier, monospace;
font: 1em sans-serif;
}
.tieude a{
  color: #f8f8f8;
  text-decoration: none;
transform: 0.5s;
  
}
.tieude a:hover{
  color: #000;
  text-decoration: underline;
  
}
.arrow-up {
  position: fixed;
  bottom: 20px;
  right: 10px;
  border: 1px solid rgb(100, 100, 100);
  display: none;
height: fit-content;
 font-size: 20px;
  cursor: pointer;
background-color: rgba(197, 197, 197, 0.5);
border-radius: 50%;
  padding:5px 12px;
 
  z-index: 1000;
}

@keyframes bounce {
  to {
    transform: translateY(-10px);
  }
}
/* Thêm đoạn mã CSS sau vào phần style của trang web của bạn */

/* Điều chỉnh chiều cao của các phần tử chính */

.listcart {
  width: 100%; /* Điều chỉnh chiều rộng của phần danh sách giỏ hàng */
}

.ttdh {
  width: 100%; /* Điều chỉnh chiều rộng của phần thông tin đơn hàng */
 
}

/* Tùy chỉnh kiểu hiển thị của giỏ hàng */
.giohang {
  background-color: #fff;
  padding: 20px;
 
}

/* Định dạng bảng giỏ hàng */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

/* Điều chỉnh chiều rộng của các cột trong bảng giỏ hàng */


.cart_item_info {
  word-wrap: break-word; /* Cho phép các từ dài tự động xuống dòng */
}

/* Điều chỉnh vị trí và chiều rộng của phần bên phải */


/* Thêm đoạn mã CSS để thay đổi kích thước và căn giữa nút thêm, giảm và tăng số lượng */
.cart_item_text button {
  width: 30px;
  height: 30px;
  font-size: 16px;
  cursor: pointer;
}

/* Điều chỉnh định dạng nút tiếp tục đặt hàng */
.ttdt_btn {
  background-color: rgb(202, 156, 72);
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}
.cart_item_image img{
  height: 50px;
  width: auto;
}
/* Tạo động cơ hiển thị nút tiếp tục đặt hàng khi di chuột qua */
.ttdt_btn:hover {
  background-color: rgb(197, 145, 47);
}
/* CSS cho form đăng nhập và đăng ký */
.formtaikhoan input[type="submit"],
.formtaikhoan input[type="reset"],
.formdk input[type="submit"],
.formdk input[type="reset"] {
  background-color:  #e7992c; /* Màu cam */
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.formtaikhoan input[type="submit"]:hover,
.formtaikhoan input[type="reset"]:hover,
.formdk input[type="submit"]:hover,
.formdk input[type="reset"]:hover {
  background-color: #e7ab56; /* Màu cam đậm khi hover */
}

/* CSS cho boxtitle */
.boxtitle {
text-align: center;
    color: rgb(3, 3, 3);
    padding: 10px;
    margin-bottom: 15px;
}
.formdk {
  max-width: 300px;
  margin: 0 auto;
}
